/* css reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

::-webkit-resizer {
  display: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* index css */

/* root background */
#root {
  background-color: #f5f5f7;
  height: auto;
  width: auto;
}

/* grid-container margin */
.grid-container {
  width: calc(100% - 32px);
  max-width: 1120px;
  margin: auto;
  height: 200vh;
}

/* header grid */
.header-grid {
  display: grid;
  grid-template-columns: 3fr 7fr 3fr;
  gap: 1rem;
  align-items: center;
  width: calc(100% - 32px);
  max-width: 1180px;
  margin: auto;
}

.title {
  grid-column: 1/2;
}
.search {
  grid-column: 2/3;
}

/* grid setting */
.grid-container {
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;
  gap: 1rem;
  padding: 1rem 0.5rem;
}

.left-comp {
  grid-column: 1 / 2;
}

.main-comp {
  grid-column: 2 / 3;
}

.right-comp {
  grid-column: 3 / 4;
}

/* header style */
header {
  padding: 1rem;
  box-shadow: rgb(234 234 236) 0px 1px 0px;
  background-color: rgba(255, 255, 255);
  position: sticky;
  top: 0px;
  z-index: 100;
  width: 100%;
}

.title {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 700;
}

.search > input {
  border: none;
  width: 190px;
}

.search {
  display: flex;
  border: 1px solid #000;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 1.1rem;
}

/* main style */

.left-comp,
.main-comp,
.right-comp {
  margin-top: 1rem;
  display: block;
}

/* left-comp style */
.sign-panel {
  display: block;
  position: sticky;
  top: 82px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons > button {
  margin: 0 0.5rem 1rem;
  font-size: 18px;
  width: 6rem;
  border-radius: 1rem;
  padding: 0.7rem;
  background-color: #94cbfa;
  border: none;
}

/* main-comp style */
.post-create {
  display: flex;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.post-create-profile-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#post-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

#post-create-text-button {
  text-align: left;
  border-radius: 1rem;
  border: 1px solid #000;
  width: 100%;
  height: 2rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  margin-top: 4px;
}

.post-create-title {
  margin-bottom: 1rem;
  height: 3rem;
  padding: 0 0.5rem;
  border-radius: 1rem;
  border: 1px solid #000;
  font-size: 1.2rem;
}

.post-create-text {
  margin-bottom: 1rem;
  height: 10rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #000;
}

.post-selects-container {
  display: flex;
}

.post-image-input,
.post-selects-artist-tag {
  margin-top: 0.5rem;
}
.post-submit-button {
  margin-top: 1rem;
  background-color: #94cbfa;
  border: 1px solid #94cbfa;
  width: 7rem;
  padding: 0.5rem;
  border-radius: 0.7rem;
  margin-left: auto;
  box-sizing: border-box;
}

.post-submit-button:hover {
  border: 1px solid #1c92f9;
  cursor: pointer;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-header {
  display: flex;
  align-items: center;
  width: 80%;
}

.profile-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 1rem;
}

.post-title > p {
  margin: 4px 0;
}

.post-title {
  color: #aaa;
}

.post-title-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-nickname {
  color: #000;
  font-weight: 700;
}

.tags {
  color: #1c92f9;
}

.post-title-bottom {
  font-size: 14px;
}

.post-main {
  width: auto;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #fff;
}

.post-main-title {
  margin: 0.5rem 0;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.post-main-img {
  width: 100%;
  border-radius: 1rem;
}

.post-main-text {
  margin: 0.5rem 0;
}

/* right-comp style */
.populer,
.ent-news {
  background-color: #fff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  display: block;
  position: sticky;
}

.populer {
  top: 82px;
}

.ent-news {
  top: 290px;
}

.populer-title,
.ent-news-title {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.populer-item,
.ent-news-item {
  margin: 0.5rem;
}

.post-blue {
  background-color: #1c92f9;
}
